body, html {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 0.9em;
	text-align: center;
}

li {
	text-align: left;
	font-size: 18px;
}

#chart {
	background-color: #f5f2eb;
	border: 1px solid #ccc;
}

.bar {
	fill: purple;
	shape-rendering: crispEdges;
}

.bar-label {
	fill: #000;
	text-anchor: middle;
	font-size: 18px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.gridline path,
.gridline line {
	fill: none;
	stroke: #ccc;
	shape-rendering: crispEdges;
}

.trendline {
	fill: none;
	stroke: red;
	stroke-width: 4px;
	/*stroke-dasharray: 10;*/
}

.area {
	opacity: 0.25;
	fill: red;
	stroke: red;
	stroke-width: 1px;
}